{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{#response.files.insert(3,URL('static','css/fxfullwidth.css'))}}
{{extend 'layout.html'}}

{{block header}}

<!--fxSoftScale|fxPressAway|fxSideSwing|fxFortuneWheel|fxSwipe|fxPushReveal|fxSnapIn
    fxLetMeIn|fxStickIt|fxArchiveMe|fxVGrowth|fxSlideBehind|fxSoftPulse|fxEarthquake
    fxCliffDiving-->
{{imgs_portada=[URL('static','fotos/DSCF3646.JPG'),URL('static','fotos/DSCF3602.JPG'),URL('static','fotos/DSCF3659.JPG'),URL('static','fotos/DSCF3681.JPG'),]}}
<!--<div id="galeria" class="galeria fxSnapIn">
<ul class="itemwrap">
  {{i=0}}
  {{for img in imgs_portada:}}
      {{if i==0:}}
    <li class="actual"><img src="{{=img}}"></li>
      {{else:}}
    <li><img src="{{=img}}"></li>
      {{pass}}
      {{i+=1}}
  {{pass}}
</ul>
<nav>
  <a class="ant" href="#"><i class="fa fa-angle-left"></i></a>
  <a class="sig " href="#"><i class="fa fa-angle-right"></i></a>
</nav>
</div>-->
{{end}}

<div class="row" style="margin-top:20px;">
  <div class="anuncio-head col-md-12">
      <h4>{{=T("Highlights")}}</h4>
  </div>
</div>

<div class="row" style="margin-top:10px;">
  {{for nota in notas:}}
  <div class="col-md-4">
    {{if nota.url:}}
    <a href="{{=nota.url}}">
    {{pass}}
    <div style="width:100%;height:280px;background-repeat: no-repeat; background-position:center;background-image:url({{=URL('static','uploads/'+nota.imagen)}});background-size:contain;"></div>
    {{if nota.url:}}
    </a>
    {{pass}}
    <p>{{=nota.descripcion}}</p>
  </div>
  {{pass}}
</div>


<!--Seguimos con los eventos, anuncios y noticias-->
<div class="row" style="margin-bottom:15px;">
  <div class="col-md-1"></div>
  <div class="col-md-5 col-sm-6 col-xs-12">
    <div class="anuncio anuncio-head">
      <h4>{{=T("Events")}}</h4>
    </div>
    {{for e in evs:}}
      <div class="anuncio">
        <div class="col-xs-2">
          {{dias={0:T('Mon'),1:T('Tue'),2:T('Wed'),3:T('Thu'),4:T('Fri'),5:T('Sat'),6:T('Sun')} 
            meses={1:T('Jan'),2:T('Feb'),3:T('Mar'),4:T('Apr'),5:T('May'),6:T('Jun'),
                   7:T('Jul'),8:T('Aug'),9:T('Sep'),10:T('Oct'),11:T('Nov'),12:T('Dec')}
          }}
          <time datetime="{{=e.fecha_inicial}}" class="fecha_calendario">
          <em>{{=dias[e.fecha_inicial.weekday()]}}
              {{if e.fecha_final and e.fecha_final!=e.fecha_inicial:}} - {{=dias[e.fecha_final.weekday()]}}{{pass}}</em>
          <strong>{{=meses[e.fecha_inicial.month]}}
                  {{if e.fecha_final and e.fecha_final.month!=e.fecha_inicial.month:}} - {{=meses[e.fecha_final.month]}}{{pass}}</strong>
          {{if e.fecha_final and e.fecha_final!=e.fecha_inicial:}}
            <span class="doble">{{=e.fecha_inicial.day}} - {{=e.fecha_final.day}}</span>
          {{else:}}
            <span>{{=e.fecha_inicial.day}}</span>
          {{pass}}
          </time>
        </div>
        <div class="col-xs-10">
        <h5>{{if e.url_externa and e.url:}}{{=A(e.nombre,_href=e.url)}}
            {{elif not e.url_externa and e.pagina:}}{{=A(e.nombre,_href=URL('cms','pagina',vars={'p':e.pagina.nombre_url}))}}
            {{else:}}{{=e.nombre}}{{pass}}</h5>
        {{if e.texto_corto:}}<p>{{=e.texto_corto}}</p>{{pass}}
        <p>{{if e.lugar:}}<i class="fa fa-map-marker"></i> {{=e.lugar}}{{pass}} 
        {{if e.hora_inicial:}}<i class="fa fa-clock-o"></i> {{=e.hora_inicial.strftime("%H:%M")}}{{if e.hora_final:}}-{{=e.hora_final.strftime('%H:%M')}}{{pass}}{{pass}}<p>
        </div>
        <div class="clearfix no-float"></div>
      </div>
    {{pass}}

    {{if len(evs)==0:}}
    <div class="anuncio">
      <p style="text-align:center;color:#aaa; padding-top:10px;">Por el momento no hay eventos programados</p>
    </div>
    {{pass}}

      <!--<div class="anuncio">
        <a class="col-xs-12 btn btn-default" href="{{=URL('eventos','calendario')}}">{{=T("View all events")}}</a>
      </div>-->
  </div>
  <div class="col-md-5 col-xs-12 col-sm-6">
    <div class="anuncio-head">
      <h4>Anuncios</h4>
    </div>
    {{for a in anuncios:}}
      <div class="anuncio">
        <div class="row">
          {{if a.thumb:}}
          <div class="col-xs-3">
            <img style="width:100%;" src="{{=URL('static','uploads/'+a.thumb)}}">
          </div>
          {{pass}}
          <div class="{{if a.thumb:}}col-xs-9{{else:}}col-xs-12{{pass}}">
            <h5>{{if a.pagina:}}<a href="{{=URL('cms','pagina',vars={'p':a.pagina.nombre_url})}}">{{elif a.url:}}<a href="{{=a.url}}">{{pass}}
                {{=a.titulo}}{{if a.url or a.pagina:}}</a>{{pass}}</h5>
            <p>{{if a.texto_corto:}}{{=a.texto_corto}}{{pass}}
               {{if a.texto:}}
               {{=A(T('more...'),_id="a_more_%d"%a.id,_onclick="$('#anuncio%d').slideToggle();$('#a_more_%d').hide();$('#a_less_%d').show();"%(a.id,a.id,a.id))}}
               {{pass}}</p>
          </div>
          {{if a.texto:}}
          <div class="texto-anuncio" id="anuncio{{=a.id}}"><p>{{=a.texto}}
          {{=A(T('Ocultar.'),_id="a_less_%d"%a.id,_onclick="$('#anuncio%d').slideToggle();$('#a_more_%d').show();$('#a_less_%d').hide();"%(a.id,a.id,a.id),_style="display:none;")}}
          </p></div>
          {{pass}}
        
      </div>
    </div>
    {{pass}}
    <!--<div class="anuncio">
        <a class="col-xs-12 btn btn-default" href="{{=URL('eventos','calendario')}}">{{=T("View all announcements")}}</a>
    </div>-->
  </div>
</div>



<!--<div class="row">
  <div class="col-sm-1"></div>
  {{for inv in invs:}}
  	<div class="col-xs-6 col-sm-2">
  	    <a href="{{=URL('investigadores','detalles',vars={'id':inv.id})}}" style="text-decoration:none;">
  	    {{if inv.thumb_personal:}}
  	      <img class="img-w100" src="{{=URL('static','uploads/'+inv.thumb_personal)}}">
  	    {{else:}}
  	      {{if inv.id_usuario.gender=='F':}}
  	      <img class="img-w100" src="{{=URL('static','images/sin-foto-ella.png')}}">
  	      {{else:}}
  	      <img class="img-w100" src="{{=URL('static','images/sin-foto-el.png')}}">
  	      {{pass}}
  	    {{pass}}
  	    <div class="portada-investigador">
  	      {{nombre=inv.id_usuario.first_name+ " " +inv.id_usuario.last_name}}
  	      {{if len(nombre)>25:
  	        partes=nombre.split()
  	        abreviado=""
  	        for parte in partes:
  	        		if len(abreviado)+len(parte)<25:
  	        		  abreviado+=parte+" "
  	        		else:
  	        		  break
  	        		pass
  	        =abreviado
  	        else:
  	        =nombre
  	        pass
  	      }}
  	    </div>
  	    </a>
  	</div>
  {{pass}}
    <div class="col-xs-6 col-sm-2"><a href="{{=URL('investigadores','index')}}" style="text-decoration:none;">
    	<img class="img-w100" src="{{=URL('static','images/ver_todos.png')}}">
    	<div class="portada-investigador">{{=T('All Researchers')}}</div>
    </a></div>
</div>-->

<div class="row" style="margin:20px 0;">
  <div class="anuncio-head col-md-12">
      <h4>{{=T("Interesting Links")}}</h4>
  </div>
</div>

<div class="row">
  {{for liga in ligas:}}
  <div class="col-xs-4 col-md-2">
    <a class="text-center" href="{{=liga.url}}" title="{{=liga.nombre}}">
      <img style="width:80%;" src="{{=URL('static','uploads/'+liga.imagen)}}">
    </a>
  </div>
  {{pass}}
</div>

<script src={{=URL('static','js/classie.js')}}></script>
<script src={{=URL('static','js/slider.js')}}></script>
<script>
    function nextimage(){
      navigate( 'next' );
      setTimeout(nextimage,5000);
    }
    setTimeout(nextimage,6000);
</script>
