{{extend 'layout.html'}}

<h1><i class="fa fa-user"></i> {{=inv_user.first_name}} {{=inv_user.last_name}}</h2>

<div class="row">
  <div class="col-md-3">
  {{if not inv.foto_personal:}}
    {{if inv_user.gender=='F':}}
    <img class="img-w100" src="{{=URL('static','images/sin-foto-ella.png')}}">
    {{else:}}
    <img class="img-w100" src="{{=URL('static','images/sin-foto-el.png')}}">
    {{pass}}
  {{else:}}
    <img style="width:100%;" src="{{=URL('static','uploads/'+inv.foto_personal)}}">
  {{pass}}
  </div>
  <div class="col-md-9">
    <h3 class="pull-right">Acerca de</h3>
    <table class="table">
      <tbody>
      	<tr>
      		<td>Nivel:</td>
      		<td>Profesor {{=inv.nivel}}</td>
      	</tr>
      	<tr>
      		<td>Departamento:</td>
      		<td>{{=inv.departamento}}</td>
      	</tr>
      	<tr>
      		<td>Líneas de Investigación:</td>
      		<td>{{if inv.lineas_de_investigacion:}}{{=XML(inv.lineas_de_investigacion)}}{{else:}}'—'{{pass}}</td>
      	</tr>
        <tr>
		<td>Formación</td>
      		<td>{{if inv.formacion:}}{{=XML(inv.formacion)}}{{else:}}'—'{{pass}}</td>
        </tr>
      	<!--<tr>
      		<td>Investigación Actual:</td>
      		<td>{{=inv.investigacion_actual or '—'}}</td>
      	</tr>-->
      	<tr>
      		<td>Correo:</td>
      		<td>{{=inv_user.email}}</td>
      	</tr>
      	<tr>
      		<td>Extensión:</td>
      		<td>{{=inv.extension}}</td>
      	</tr>
      	<tr>
      		<td>Redes:</td>
      		<td>
						{{if inv.url_facebook:}}
						<a class="btn btn-default btn-social" href="{{=inv.url_facebook}}"
							style="background-color:#3A5795; color:#FFF;">
						  <i class="fa fa-facebook"></i>
						</a>
						{{pass}}
						{{if inv.url_twitter:}}
						<a class="btn btn-default btn-social" href="{{=inv.url_twitter}}"
							style="background-color:#57AFE7; color:#FFF;">
						  <i class="fa fa-twitter"></i>
						</a>
						{{pass}}
						{{if inv.url_linkedin:}}
						<a class="btn btn-default btn-social" href="{{=inv.url_linkedin}}"
							style="background-color:#0077B5; color:#FFF;">
						  <i class="fa fa-linkedin"></i>
						</a>
						{{pass}}
						{{if inv.url_youtube:}}
						<a class="btn btn-default btn-social" href="{{=inv.url_youtube}}"
							style="background-color:#D40025;color:#FFF;">
						  <i class="fa fa-youtube-play"></i>
						</a>
						{{pass}}
      		</td>
      	</tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <h3 class="text-right">Últimas Publicaciones</h3>
</div>
<div class="row">
  {{for pub in pubs:}}
    <div class="col-md-6" style="padding-bottom:20px;">
    	{{=pub.cita}}
    </div>
  {{pass}}
</div>
