{{extend 'layout.html'}}

<h1><i class="fa fa-users"></i> {{=T('Researchers')}}</h1>

{{dep_actual=None}}
{{for inv in invs:}}
  {{if dep_actual!=inv.investigadores.departamento:}}
    {{if dep_actual!=None:}}
	</div>
    {{pass}}
  <h3>{{=inv.investigadores.departamento}}</h3>
  <hr>
  <div class="row">
  {{dep_actual=inv.investigadores.departamento}}
  {{pass}}

	  <div class="col-sm-6">
		<div class="row">
		  <div class="col-sm-3" style="text-align:center; margin-bottom:20px;">
		  	<a href="{{=URL('investigadores','detalles',vars={'id':inv.investigadores.id})}}">
		  	{{if inv.investigadores.thumb_personal:}}
		    <img class="round-image" src="{{=URL('static','uploads/'+inv.investigadores.thumb_personal)}}">
		    {{elif inv.auth_user.gender=='F':}}
		    <img src="{{=URL('static','images/sin-foto-ella.png')}}" class="round-image" />
		    {{else:}}
		    <img src="{{=URL('static','images/sin-foto-el.png')}}" class="round-image" />
		    {{pass}}
		    </a>
		  </div>
		  <div class="col-sm-9">
		    <div>
		    	<h5><a href="{{=URL('investigadores','detalles',vars={'id':inv.investigadores.id})}}">
		    	{{=inv.auth_user.first_name}} {{=inv.auth_user.last_name}}
		    	</a></h5>
		    </div>
		    <div><p>Profesor {{=inv.investigadores.nivel}}
                    {{if inv.investigadores.sni!=None:}} / SNI: {{=inv.investigadores.sni}}{{pass}}</p></div>
		    <div>
		    {{if inv.investigadores.url_facebook:}}
		    <a class="btn btn-default btn-social" href="{{=inv.investigadores.url_facebook}}"
		    	style="background-color:#3A5795; color:#FFF;">
		      <i class="fa fa-facebook"></i>
		    </a>
		    {{pass}}
		    {{if inv.investigadores.url_twitter:}}
		    <a class="btn btn-default btn-social" href="{{=inv.investigadores.url_twitter}}"
		    	style="background-color:#57AFE7; color:#FFF;">
		      <i class="fa fa-twitter"></i>
		    </a>
		    {{pass}}
		    {{if inv.investigadores.url_linkedin:}}
		    <a class="btn btn-default btn-social" href="{{=inv.investigadores.url_linkedin}}"
		    	style="background-color:#0077B5; color:#FFF;">
		      <i class="fa fa-linkedin"></i>
		    </a>
		    {{pass}}
		    {{if inv.investigadores.url_youtube:}}
		    <a class="btn btn-default btn-social" href="{{=inv.investigadores.url_youtube}}"
		    	style="background-color:#D40025;color:#FFF;">
		      <i class="fa fa-youtube-play"></i>
		    </a>
		    {{pass}}
		    </div>
		  </div>
		</div>
	  </div>

{{pass}}
</div>
