{{extend 'layout.html'}}

<h1><i class="fa fa-book"></i>{{=T('Publications')}}</h1>

<div class="row" style="margin-top:30px;">
  <div class="btn-group btn-group-justified">
    <a class="btn {{if area==None or area=='None':}}btn-success disabled{{else:}}btn-default{{pass}}"
      href="{{=URL('publicaciones','listar')}})">Publicaciones 2015</a>
    <a class="btn {{if area=='Computación y Robótica':}}btn-success disabled{{else:}}btn-default{{pass}}"
      href="{{=URL('publicaciones','listar',vars={'area':'Computación y Robótica'})}}">Computación y Robótica</a>
    <a class="btn {{if area=='Física':}}btn-success disabled{{else:}}btn-default{{pass}}"
      href="{{=URL('publicaciones','listar',vars={'area':'Física'})}}">Física</a>
    <a class="btn {{if area=='Matemáticas':}}btn-success disabled{{else:}}btn-default{{pass}}"
      href="{{=URL('publicaciones','listar',vars={'area':'Matemáticas'})}}">Matemáticas</a>
  </div>
</div>

<nav style="text-align:right;">
  <ul class="pagination">
  <li{{if ini==0:}} class="disabled"{{pass}}><a href="{{if ini!=0:}}{{=URL('publicaciones','listar',vars={'ini':ini-ppp,'area':area})}}{{else:}}#{{pass}}"><span aria-hidden="true">&laquo</a></li>  
  {{pa=0
  i=1
  while pa<total:
    if ini==pa:
      =LI(A(i,_href=URL('publicaciones','listar',vars={'ini':pa,'area':area})),_class="active")
    else:
      =LI(A(i,_href=URL('publicaciones','listar',vars={'ini':pa,'area':area})))
    pass
    i+=1
    pa+=ppp
  pass
  }}
  <li{{if ini+ppp>=total:}} class="disabled"{{pass}}><a href="{{if ini+ppp<total:}}{{=URL('publicaciones','listar',vars={'ini':ini+ppp,'area':area})}}{{else:}}#{{pass}}"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>


<div class="row" style="margin-top:30px;">
  {{i=0}}
  {{for pub in pubs:}}
  	{{if i%10==0:}}
  	<div class="col-md-6">
  	{{pass}}
  	  <div class="cita-pub">
				<div class="cita">
				  {{=pub.cita}}
				</div>
				<div class="cita-inv">
				  {{if pub.lista_investigadores:}}
				  	{{for inv in pub.lista_investigadores:}}
				    <a class="btn btn-xs btn-primary" href="{{=URL('investigadores','detalles',vars={'id':inv.id})}}">{{=inv.first_name}}</a>
				    {{pass}}
				  {{else:}}
				    <a class="btn btn-xs btn-warning" href="{{=URL('publicaciones','editar',vars={'pid':pub.id})}}">{{=T('Edit')}}</a>
				  {{pass}}
				</div>
  		</div>
  	{{if (i+1)%10==0:}}
  	</div>
  	{{pass}}
  	{{i+=1}}
  {{pass}}
</div>

