div.texto-anuncio{
  display:none;
}

body{
	color: #444;
}

div.cita-pub{
	padding-bottom:20px;
}

#uaem-prehead{
	height:32px;
	background-color: #c75233;/*#66615e;*/
	padding: 3px 15px;
	text-align:right;
}

footer div p{
	text-align: center;
	line-height:130%;
}

@media only screen and (max-width : 768px) {
   footer div p{
     font-size:0.7em;
     margin-top:10px;
   }
}

div.anuncio-head{
  text-align:center;
}

div.anuncio-head h4{
  color:#C75223;
}

textarea.form-control{
  height:100px;
}

[class~='anuncio']:last-of-type  {
	border-bottom:1px solid #ccc;
}

time.fecha_calendario{
  margin-top:5px;
  font-size: 0.7em; /* change icon size */
  display: block;
  position: relative;
  width: 6.5em;
  height: 7em;
  background-color: #E0E0C7;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.fecha_calendario *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.fecha_calendario strong
{
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #C75233;
  border-bottom: 1px dashed #FFF;
  box-shadow: 0 2px 0 #C75233;
}

time.fecha_calendario em
{
  position: absolute;
  bottom: 0.15em;
  color: #C75233;
}

time.fecha_calendario span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.55em;
  color: #373737;
}

time.fecha_calendario span.doble{
  font-size:1.8em;
  padding-top: 1.4em;
}

div.anuncio-head{
	border-bottom:3px solid #c75233;
}

img.img_pagina{
	margin:10px;	
}
.round-image{
  max-width:350px;
  width:80%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

img.img-w100{
  width:100%;
}

div.portada-investigador{
  background-color:#5a99ac;
  color:#fff;
  padding:15px;
}
a.btn-social{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.galeria {
  width: 100%;
  background: #333;
  margin: 0 auto 30px;
  position: relative;
  max-width: 100%;
  height:501px;
}

.galeria > ul {
  margin-top:0;
  width:100%;
  max-width:100%;
  height:100%;
  position:relative;
  list-style: none;
  padding:0;
  margin: 0 auto;
  overflow: hidden;
}

.galeria li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  overflow: hidden;
}

.galeria li img {
  display: block;
  min-width: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.galeria .actual {
  opacity: 1;
  pointer-events: auto;
  z-index: 200;
}

.galeria nav a{
  outline:0;
}

.galeria nav a.ant,.galeria nav a.sig{
  position: absolute;
  line-height: 80px;
  font-size: 80px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index:500;
}

.galeria nav a:hover{
  opacity: 1;
}

nav a.ant{
  top:40%;
  left:10px;
}
nav a.sig{
  top:40%;
  right:10px;
}
