{{response.files.append(URL('static','js/summernote.min.js'))}}
{{response.files.append(URL('static','js/summernote-es-ES.min.js'))}}
{{response.files.append(URL('static','css/summernote.css'))}}
{{extend "layout.html"}}

<h1><i class="fa fa-file-text"></i>{{=T("Editing")}}: <span id="spantitulo">{{=p.titulo}}</span></h1>
{{=form}}
<script>
function sendFile(file,destino) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "{{=URL('cms','subir_imagen',vars={'pid':p.id})}}",
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                	console.log(url)
                	var img=document.createElement('img');
                	img.src=url;
                	img.className="img_pagina";
                	console.log(img);
                	destino.summernote('insertNode',img);
					//Agregala al selector de imagenes
                }
 			});
}
$(document).ready(function(){
	$("#paginas_titulo").keyup(function(){
		$("#spantitulo").html($("#paginas_titulo").val());
	});
	$('#paginas_contenido').summernote({lang:'es-ES',height:"200",
		callbacks: {
    		onImageUpload: function(files){sendFile(files[0],$("#paginas_contenido"));}
		},
		toolbar:[
		['style',['style']],
		['style', ['bold', 'italic', 'underline', 'clear',]],
		['misc',['undo','redo']],
		['para', ['ul', 'ol', 'paragraph']],
		['insert',['link','table','picture']],
		{{if auth.has_membership('Administrador'):}}
		['misc',['fullscreen','codeview']],
		{{pass}}
		]});
});
</script>
