{{response.files.append(URL('static','js/bootstrap-maxlength.js'))}}
{{extend 'layout.html'}}

<h1>{{=T('Edit Anouncements')}}</h1>

{{=grid}}


<script>
$(document).ready(function(){
  $('input[maxlength]').maxlength();
});
</script>
